@charset "utf-8";
/* CSS Document */

#container {
	width: 650px;
	margin-right: auto;
	margin-left: auto;
}
.td_font {
	font-family: "宋体";
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}
h1 {
	text-align: center;
}
.text {
	height: 20px;
	width: 50px;
	float: left;
	margin-left: 5px;
}
.td_area {
	height: 450px;
	width: 500px;
	margin-right: auto;
	margin-left: auto;
}
